.card {
	transition: transform .5s;
}

.card:hover {
	transform: scale(1.025);
	box-shadow: 10 10 10 black;
}

#check:hover {
	color: rgb(39, 199, 39);
}

/* to overwrite the <a> styling */

#checkHREF {
	color: rgb(96, 96, 96);
}

#ex:hover {
	color: rgb(206, 45, 45);
}

/* to overwrite the <a> styling */

#ex {
	color: rgb(96, 96, 96);
}